In [1]:
import sys
!{sys.executable} -m pip install openpyxl numpy pandas scikit-learn matplotlib seaborn

Requirement already satisfied: openpyxl in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: numpy in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.20.3)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: scikit-learn in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (0.24.2)
Requirement already satisfied: matplotlib in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (3.4.2)
Requirement already satisfied: seaborn in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (0.11.1)
Requirement already satisfied: et-xmlfile in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (1.6.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (1.3.1)
WARNING: You are using pip version 21.1.1; however, version 21.1.2 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.0.16/libexec/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import itertools
import openpyxl 
import seaborn as sns
from openpyxl import load_workbook

In [3]:
odisha_pm_kisan = pd.read_csv('data/pm-kisan-pay-data-odisha-with-amount.csv')

In [4]:
odisha_pm_kisan

,state_name,state_code,dist_name,dist_code,sub_name,sub_code,vill_name,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
0,ODISHA,21,ANUGUL,344,Anugul,3011,Amantapur - (404262),404262,23,4,10,2,7,94,143,"? 1,88,000","? 2,86,000"
1,ODISHA,21,ANUGUL,344,Anugul,3011,Ambapal - (404197),404197,279,3,80,8,188,1423,1666,"? 28,46,000","? 33,32,000"
2,ODISHA,21,ANUGUL,344,Anugul,3011,Ambapal jungle - (404198),404198,1,0,0,0,1,6,5,"? 12,000","? 10,000"
3,ODISHA,21,ANUGUL,344,Anugul,3011,Angarbandha - (404281),404281,582,165,197,31,189,2845,3471,"? 56,90,000","? 69,42,000"
4,ODISHA,21,ANUGUL,344,Anugul,3011,Ankurabahal - (404217),404217,0,0,0,0,0,0,0,? 0,? 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53781,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Sindurkela - (385055),385055,49,7,10,3,29,274,295,"? 5,48,000","? 5,90,000"
53782,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tikayatpali - (385072),385072,88,17,9,5,57,519,513,"? 10,38,000","? 10,26,000"
53783,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tileimal - (385078),385078,19,0,1,1,17,118,108,"? 2,36,000","? 2,16,000"
53784,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tuniapali - (385071),385071,63,7,7,7,42,325,343,"? 6,50,000","? 6,86,000"
53785,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Ulasara - (385041),385041,81,3,2,10,66,438,406,"? 8,76,000","? 8,12,000"

In [5]:
odisha_gis_village = pd.read_csv('data/Village_GIS_list_2011.csv')

In [6]:
odisha_gis_village

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,MARG_HH_01,MARG_HH_02,MARG_OT_0_,MARG_OT_01,MARG_OT_02,NON_WORK_P,NON_WORK_M,NON_WORK_F,Shape_Length,Shape_Area
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,0,0,23,15,8,543,186,357,0.057392,0.000219
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,8,0,2,2,0,212,79,133,0.079845,0.000290
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,4,4,0,710,247,463,0.081267,0.000307
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,35,22,13,1047,438,609,0.127800,0.000758
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,0,0,0,0,0,396,182,214,0.071365,0.000216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51305,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,0,0,0,0,0,334,173,161,0.037765,0.000091
51306,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,138,46,92,0.033411,0.000048
51307,51308,21,ODISHA,383,DHENKANAL,2991,GANDIA P.S,3351,GONDIA,RURAL,...,0,0,1,1,0,178,69,109,0.056202,0.000139
51308,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,110,29,81,0.022975,0.000025
51309,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,0,0,0,0,0,0,0,0,0.016433,0.000013

In [7]:
odisha_pm_kisan['vill_code'].isin(odisha_gis_village['V_CODE']).value_counts()

True     51141
False     2645
Name: vill_code, dtype: int64

In [8]:
odisha_pm_kisan[~(odisha_pm_kisan['vill_code'].isin(odisha_gis_village['V_CODE']))][['vill_code']]

       vill_code
5        6093303
6        6093312
7        6093313
8        6093314
9        6093315
...          ...
53631    6095237
53632    6095238
53633    6095239
53634    6095240
53635    6095241

[2645 rows x 1 columns]

In [9]:
odisha_gis_village['V_CODE'].isin(odisha_pm_kisan['vill_code']).value_counts()

True     51148
False      162
Name: V_CODE, dtype: int64

In [10]:
len(odisha_gis_village.V_CODE.unique()) #51310

51303

In [11]:
len(odisha_pm_kisan.vill_code.unique()) #53786

53786

In [12]:
len(odisha_gis_village['V_CODE'])-len(odisha_gis_village['V_CODE'].drop_duplicates())

7

In [13]:
gis_village_duplicates = odisha_gis_village[odisha_gis_village.duplicated(['V_CODE'], keep=False)]

In [14]:
gis_village_duplicates

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,MARG_HH_01,MARG_HH_02,MARG_OT_0_,MARG_OT_01,MARG_OT_02,NON_WORK_P,NON_WORK_M,NON_WORK_F,Shape_Length,Shape_Area
2204,2205,21,ODISHA,383,DHENKANAL,2987,PARJANG P.S,3356,PARJANG,RURAL,...,0,0,1,1,0,178,69,109,0.139233,0.000476
8691,8692,21,ODISHA,392,SUBARNAPUR,3139,SONAPUR P.S,3570,SONEPUR,RURAL,...,0,0,0,0,0,524,204,320,0.060281,0.000205
9117,9118,21,ODISHA,392,SUBARNAPUR,3139,SONAPUR P.S,3570,SONEPUR,RURAL,...,0,0,0,0,0,524,204,320,0.050326,0.000138
14661,14662,21,ODISHA,379,KENDRAPARA,2923,RAJNAGAR P.S,3442,RAJNAGAR,RURAL,...,0,0,0,0,0,678,223,455,0.065917,0.000184
15623,15624,21,ODISHA,379,KENDRAPARA,2923,RAJNAGAR P.S,3442,RAJNAGAR,RURAL,...,0,0,0,0,0,678,223,455,0.032280,0.000038
21474,21475,21,ODISHA,377,BALESWAR,2899,CHANDIPUR P.S,3299,BALESWAR SADAR,RURAL,...,0,0,0,0,0,251,86,165,0.013931,0.000014
22176,22177,21,ODISHA,377,BALESWAR,2901,BAMPADA P.S,3670,REMUNA,RURAL,...,1,0,0,0,0,581,210,371,0.084411,0.000336
22714,22715,21,ODISHA,377,BALESWAR,2897,BALESHWAR SADAR P.S,3299,BALESWAR SADAR,RURAL,...,0,0,0,0,0,251,86,165,0.029944,0.000026
24105,24106,21,ODISHA,377,BALESWAR,2895,BASTA P.S,3299,BALESWAR SADAR,RURAL,...,1,0,0,0,0,581,210,371,0.024139,0.000026
34286,34287,21,ODISHA,388,GANJAM,3097,NUAGAON P.S,3372,DIGAPAHANDI,UI,...,0,0,0,0,0,0,0,0,0.223363,0.000723
36152,36153,21,ODISHA,388,GANJAM,3097,NUAGAON P.S,3372,DIGAPAHANDI,UI,...,0,0,0,0,0,0,0,0,0.025402,0.000029
45533,45534,21,ODISHA,396,RAYAGADA,3180,DORAGUDA P.S,3552,KASIPUR,UI,...,0,0,0,0,0,0,0,0,0.008549,0.000005
46430,46431,21,ODISHA,396,RAYAGADA,3180,DORAGUDA P.S,3552,KASIPUR,RURAL,...,0,0,0,0,0,0,0,0,0.037231,0.000075
51307,51308,21,ODISHA,383,DHENKANAL,2991,GANDIA P.S,3351,GONDIA,RURAL,...,0,0,1,1,0,178,69,109,0.056202,0.000139

In [15]:
gis_village_duplicates.to_csv("data/gis_village_duplicates.csv")

In [16]:
odisha_gis_village_no_duplicates = odisha_gis_village.drop_duplicates(subset=['V_CODE']) #(keep=False, inplace=True)

In [17]:
odisha_gis_village_no_duplicates

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,MARG_HH_01,MARG_HH_02,MARG_OT_0_,MARG_OT_01,MARG_OT_02,NON_WORK_P,NON_WORK_M,NON_WORK_F,Shape_Length,Shape_Area
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,0,0,23,15,8,543,186,357,0.057392,0.000219
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,8,0,2,2,0,212,79,133,0.079845,0.000290
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,4,4,0,710,247,463,0.081267,0.000307
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,35,22,13,1047,438,609,0.127800,0.000758
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,0,0,0,0,0,396,182,214,0.071365,0.000216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51304,51305,21,ODISHA,399,MALKANGIRI,3220,MALKANGIRI P.S,3484,MALKANGIRI,RURAL,...,0,0,0,0,0,20,11,9,0.016954,0.000014
51305,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,0,0,0,0,0,334,173,161,0.037765,0.000091
51306,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,138,46,92,0.033411,0.000048
51308,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,110,29,81,0.022975,0.000025
51309,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,0,0,0,0,0,0,0,0,0.016433,0.000013

In [18]:
PM_Kisan_merged = odisha_gis_village.merge(odisha_pm_kisan, left_on='V_CODE', right_on='vill_code', suffixes=(False, False))

In [19]:
PM_Kisan_merged

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,385316,123,46,16,16,45,640,706,"? 12,80,000","? 14,12,000"
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,385267,0,0,0,0,0,0,0,? 0,? 0
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,385263,38,1,8,2,27,183,194,"? 3,66,000","? 3,88,000"
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,385265,102,4,24,21,53,442,617,"? 8,84,000","? 12,34,000"
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,385396,197,26,31,10,130,1128,1149,"? 22,56,000","? 22,98,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51143,51305,21,ODISHA,399,MALKANGIRI,3220,MALKANGIRI P.S,3484,MALKANGIRI,RURAL,...,430337,256,23,52,25,156,1291,1442,"? 25,82,000","? 28,84,000"
51144,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,430954,100,21,40,4,35,453,612,"? 9,06,000","? 12,24,000"
51145,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,392155,27,0,1,5,21,144,152,"? 2,88,000","? 3,04,000"
51146,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,392154,20,0,3,3,14,94,106,"? 1,88,000","? 2,12,000"
51147,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,391848,11,0,1,1,9,46,43,"? 92,000","? 86,000"

In [20]:
PM_Kisan_merged.to_csv("data/PM_Kisan_merged.csv")

In [21]:
odisha_pm_kisan_intersect = pd.read_csv('data/PM_Kisan_Intersect.csv')

In [22]:
odisha_pm_kisan_intersect

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due,Area_village,area_intesect
0,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,16.0,66.0,9.0,91.0,880.0,1104.0,"17,60,000","22,08,000",4753397.662,4639017.185
1,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,11.0,28.0,18.0,86.0,704.0,780.0,"14,08,000","15,60,000",2345282.261,2345282.261
2,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,1.0,21.0,10.0,41.0,317.0,397.0,"6,34,000","7,94,000",1435173.411,1435173.411
3,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,11.0,14.0,1.0,41.0,378.0,397.0,"7,56,000","7,94,000",2156810.139,2156810.139
4,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,36.0,36.0,1.0,95.0,971.0,1004.0,"19,42,000","20,08,000",3164540.682,2768247.306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59964,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8622754.114,8622754.114
59965,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,25.0,69.0,11.0,56.0,704.0,950.0,"14,08,000","19,00,000",7474268.110,7474268.110
59966,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1212288.550,1212288.550
59967,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,33.0,115.0,11.0,366.0,2867.0,3038.0,"57,34,000","60,76,000",9884376.639,9884376.639
59968,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,4.0,8.0,5.0,15.0,141.0,180.0,"2,82,000","3,60,000",2963716.462,2963716.462

In [23]:
len(odisha_pm_kisan_intersect.PM_Kisan_merged_vill_name.unique())

51115

In [24]:
odisha_pm_kisan_intersect

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due,Area_village,area_intesect
0,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,16.0,66.0,9.0,91.0,880.0,1104.0,"17,60,000","22,08,000",4753397.662,4639017.185
1,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,11.0,28.0,18.0,86.0,704.0,780.0,"14,08,000","15,60,000",2345282.261,2345282.261
2,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,1.0,21.0,10.0,41.0,317.0,397.0,"6,34,000","7,94,000",1435173.411,1435173.411
3,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,11.0,14.0,1.0,41.0,378.0,397.0,"7,56,000","7,94,000",2156810.139,2156810.139
4,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,36.0,36.0,1.0,95.0,971.0,1004.0,"19,42,000","20,08,000",3164540.682,2768247.306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59964,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8622754.114,8622754.114
59965,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,25.0,69.0,11.0,56.0,704.0,950.0,"14,08,000","19,00,000",7474268.110,7474268.110
59966,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1212288.550,1212288.550
59967,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,33.0,115.0,11.0,366.0,2867.0,3038.0,"57,34,000","60,76,000",9884376.639,9884376.639
59968,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,4.0,8.0,5.0,15.0,141.0,180.0,"2,82,000","3,60,000",2963716.462,2963716.462

In [25]:
odisha_pm_kisan_intersect['share_area_percentage']= odisha_pm_kisan_intersect['area_intesect']/odisha_pm_kisan_intersect['Area_village']

In [26]:
odisha_pm_kisan_intersect

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due,Area_village,area_intesect,share_area_percentage
0,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,66.0,9.0,91.0,880.0,1104.0,"17,60,000","22,08,000",4753397.662,4639017.185,0.975937
1,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,28.0,18.0,86.0,704.0,780.0,"14,08,000","15,60,000",2345282.261,2345282.261,1.000000
2,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,21.0,10.0,41.0,317.0,397.0,"6,34,000","7,94,000",1435173.411,1435173.411,1.000000
3,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,14.0,1.0,41.0,378.0,397.0,"7,56,000","7,94,000",2156810.139,2156810.139,1.000000
4,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,36.0,1.0,95.0,971.0,1004.0,"19,42,000","20,08,000",3164540.682,2768247.306,0.874771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59964,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8622754.114,8622754.114,1.000000
59965,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,69.0,11.0,56.0,704.0,950.0,"14,08,000","19,00,000",7474268.110,7474268.110,1.000000
59966,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0,0,1212288.550,1212288.550,1.000000
59967,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,115.0,11.0,366.0,2867.0,3038.0,"57,34,000","60,76,000",9884376.639,9884376.639,1.000000
59968,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,8.0,5.0,15.0,141.0,180.0,"2,82,000","3,60,000",2963716.462,2963716.462,1.000000

In [27]:
greater_than_50 = odisha_pm_kisan_intersect.loc[odisha_pm_kisan_intersect.share_area_percentage > 0.5, 'share_area_percentage']

In [28]:
greater_than_50

0        0.975937
1        1.000000
2        1.000000
3        1.000000
4        0.874771
           ...
59964    1.000000
59965    1.000000
59966    1.000000
59967    1.000000
59968    1.000000
Name: share_area_percentage, Length: 51236, dtype: float64

In [29]:
centroind_ac_join = pd.read_csv('data/centoid within AC.csv')

In [30]:
centroind_ac_join

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due,Area_village
0,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,101.0,6.0,22.0,6.0,67.0,564.0,611.0,"11,28,000","12,22,000",1930428.073
1,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,147.0,59.0,46.0,3.0,39.0,816.0,959.0,"16,32,000","19,18,000",3115955.023
2,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,168.0,20.0,40.0,13.0,95.0,853.0,986.0,"17,06,000","19,72,000",2891340.125
3,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,6029145.296
4,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,129.0,18.0,16.0,9.0,86.0,752.0,783.0,"15,04,000","15,66,000",1745051.835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51252,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,412.0,164.0,52.0,34.0,162.0,2278.0,2409.0,"45,56,000","48,18,000",1442938.527
51253,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,11.0,0.0,4.0,0.0,7.0,56.0,66.0,"1,12,000","1,32,000",190050.475
51254,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,440852.660
51255,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,7.0,0.0,1.0,0.0,6.0,38.0,36.0,"76,000","72,000",320789.010
51256,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,256.0,23.0,52.0,25.0,156.0,1291.0,1442.0,"25,82,000","28,84,000",168803.334

In [31]:
len(centroind_ac_join.PM_Kisan_merged_vill_name.unique())

51086

In [32]:
centroind_ac_join.groupby(['AC_NAME']).sum(['PM_Kisan_merged_amount_paid'])

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_sub_code,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,Area_village
AC_NAME,,,,,,,,,,,,,,,,,,,,,
ANANDAPUR (SC),0.0,0.0,0.0,0.0,0.0,0.0,-321,0,-321,0.0,...,916485.0,124269919.0,32104.0,5037.0,9537.0,2513.0,15017.0,152351.0,186730.0,5.893020e+08
ANGUL,0.0,0.0,0.0,0.0,0.0,0.0,-225,0,-225,0.0,...,678249.0,91034540.0,25716.0,4000.0,6953.0,1619.0,13144.0,124911.0,148170.0,4.433806e+08
ASKA,0.0,0.0,0.0,0.0,0.0,0.0,-152,0,-152,0.0,...,467890.0,62507543.0,16357.0,2239.0,5081.0,1128.0,7909.0,73896.0,90190.0,2.711136e+08
ATHAGARH,0.0,0.0,0.0,0.0,0.0,0.0,-277,0,-277,0.0,...,817515.0,110563481.0,22713.0,4565.0,7801.0,1295.0,9052.0,109012.0,137585.0,4.300625e+08
ATHAMALLIK,0.0,0.0,0.0,0.0,0.0,0.0,-678,0,-678,0.0,...,2045784.0,274489692.0,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,1.463142e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TELKOI (ST),0.0,0.0,0.0,0.0,0.0,0.0,-499,0,-499,0.0,...,1421617.0,192877067.0,49351.0,11330.0,13254.0,2425.0,22342.0,257161.0,295066.0,2.140901e+09
TIRTOL (SC),0.0,0.0,0.0,0.0,0.0,0.0,-357,0,-357,0.0,...,1043595.0,141212949.0,30886.0,5083.0,10801.0,2011.0,12991.0,140422.0,182811.0,3.912774e+08
TITLAGARH,0.0,0.0,0.0,0.0,0.0,0.0,-365,0,-365,0.0,...,1149052.0,153698904.0,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,1.019717e+09
UDALA (ST),0.0,0.0,0.0,0.0,0.0,0.0,-342,0,-342,0.0,...,986375.0,133743912.0,30699.0,5234.0,8779.0,1668.0,15018.0,156491.0,181865.0,6.599551e+08
UMERKOTE (ST),0.0,0.0,0.0,0.0,0.0,0.0,-151,0,-151,0.0,...,481348.0,64518152.0,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,8.929299e+08

In [34]:
ac_atributes = centroind_ac_join[['AC_NAME','PM_Kisan_merged_vill_name','PM_Kisan_merged_reg_count', 'PM_Kisan_merged_full_pay_count','PM_Kisan_merged_part_pay_count','PM_Kisan_merged_no_pay_count','PM_Kisan_merged_extra_pay_count','PM_Kisan_merged_no_install_paid','PM_Kisan_merged_no_install_due' ]]