In [1]:
import sys
!{sys.executable} -m pip install openpyxl numpy pandas scikit-learn matplotlib seaborn

Requirement already satisfied: openpyxl in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: numpy in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.20.3)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: scikit-learn in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (0.24.2)
Requirement already satisfied: matplotlib in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (3.4.2)
Requirement already satisfied: seaborn in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (0.11.1)
Requirement already satisfied: et-xmlfile in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (1.6.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (2.4.7)
WARNING: You are using pip version 21.1.1; however, version 21.1.3 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.0.16/libexec/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import itertools
import openpyxl 
import seaborn as sns
from openpyxl import load_workbook

In [3]:
odisha_pm_kisan = pd.read_csv('data/pm-kisan-pay-data-odisha-with-amount.csv')

In [4]:
odisha_pm_kisan

,state_name,state_code,dist_name,dist_code,sub_name,sub_code,vill_name,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
0,ODISHA,21,ANUGUL,344,Anugul,3011,Amantapur - (404262),404262,23,4,10,2,7,94,143,"? 1,88,000","? 2,86,000"
1,ODISHA,21,ANUGUL,344,Anugul,3011,Ambapal - (404197),404197,279,3,80,8,188,1423,1666,"? 28,46,000","? 33,32,000"
2,ODISHA,21,ANUGUL,344,Anugul,3011,Ambapal jungle - (404198),404198,1,0,0,0,1,6,5,"? 12,000","? 10,000"
3,ODISHA,21,ANUGUL,344,Anugul,3011,Angarbandha - (404281),404281,582,165,197,31,189,2845,3471,"? 56,90,000","? 69,42,000"
4,ODISHA,21,ANUGUL,344,Anugul,3011,Ankurabahal - (404217),404217,0,0,0,0,0,0,0,? 0,? 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53781,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Sindurkela - (385055),385055,49,7,10,3,29,274,295,"? 5,48,000","? 5,90,000"
53782,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tikayatpali - (385072),385072,88,17,9,5,57,519,513,"? 10,38,000","? 10,26,000"
53783,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tileimal - (385078),385078,19,0,1,1,17,118,108,"? 2,36,000","? 2,16,000"
53784,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tuniapali - (385071),385071,63,7,7,7,42,325,343,"? 6,50,000","? 6,86,000"
53785,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Ulasara - (385041),385041,81,3,2,10,66,438,406,"? 8,76,000","? 8,12,000"

In [5]:
odisha_pm_kisan['vill_code'].count()

53786

In [6]:
len(odisha_pm_kisan[odisha_pm_kisan['vill_code'] == ''])

0

In [7]:
odisha_pm_kisan['vill_code'].isna().sum()

0

In [8]:
odisha_gis_village = pd.read_csv('data/Village_GIS_list_2011.csv')

In [9]:
odisha_gis_village

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,MARG_HH_01,MARG_HH_02,MARG_OT_0_,MARG_OT_01,MARG_OT_02,NON_WORK_P,NON_WORK_M,NON_WORK_F,Shape_Length,Shape_Area
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,0,0,23,15,8,543,186,357,0.057392,0.000219
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,8,0,2,2,0,212,79,133,0.079845,0.000290
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,4,4,0,710,247,463,0.081267,0.000307
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,35,22,13,1047,438,609,0.127800,0.000758
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,0,0,0,0,0,396,182,214,0.071365,0.000216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51305,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,0,0,0,0,0,334,173,161,0.037765,0.000091
51306,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,138,46,92,0.033411,0.000048
51307,51308,21,ODISHA,383,DHENKANAL,2991,GANDIA P.S,3351,GONDIA,RURAL,...,0,0,1,1,0,178,69,109,0.056202,0.000139
51308,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,110,29,81,0.022975,0.000025
51309,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,0,0,0,0,0,0,0,0,0.016433,0.000013

In [10]:
odisha_gis_village['V_CODE'].count()

51310

In [11]:
len(odisha_gis_village[odisha_gis_village['V_CODE'] == ''])

0

In [12]:
odisha_gis_village['V_CODE'].isna().sum()

0

In [13]:
odisha_pm_kisan['vill_code'].isin(odisha_gis_village['V_CODE']).value_counts()

True     51141
False     2645
Name: vill_code, dtype: int64

In [14]:
odisha_pm_kisan[~(odisha_pm_kisan['vill_code'].isin(odisha_gis_village['V_CODE']))][['vill_code']]

       vill_code
5        6093303
6        6093312
7        6093313
8        6093314
9        6093315
...          ...
53631    6095237
53632    6095238
53633    6095239
53634    6095240
53635    6095241

[2645 rows x 1 columns]

In [15]:
odisha_gis_village['V_CODE'].isin(odisha_pm_kisan['vill_code']).value_counts()

True     51148
False      162
Name: V_CODE, dtype: int64

In [16]:
len(odisha_gis_village.V_CODE.unique()) #51310

51303

In [17]:
len(odisha_pm_kisan.vill_code.unique()) #53786

53786

In [18]:
len(odisha_gis_village['V_CODE'])-len(odisha_gis_village['V_CODE'].drop_duplicates())

7

In [19]:
gis_village_duplicates = odisha_gis_village[odisha_gis_village.duplicated(['V_CODE'], keep=False)]

In [20]:
gis_village_duplicates

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,MARG_HH_01,MARG_HH_02,MARG_OT_0_,MARG_OT_01,MARG_OT_02,NON_WORK_P,NON_WORK_M,NON_WORK_F,Shape_Length,Shape_Area
2204,2205,21,ODISHA,383,DHENKANAL,2987,PARJANG P.S,3356,PARJANG,RURAL,...,0,0,1,1,0,178,69,109,0.139233,0.000476
8691,8692,21,ODISHA,392,SUBARNAPUR,3139,SONAPUR P.S,3570,SONEPUR,RURAL,...,0,0,0,0,0,524,204,320,0.060281,0.000205
9117,9118,21,ODISHA,392,SUBARNAPUR,3139,SONAPUR P.S,3570,SONEPUR,RURAL,...,0,0,0,0,0,524,204,320,0.050326,0.000138
14661,14662,21,ODISHA,379,KENDRAPARA,2923,RAJNAGAR P.S,3442,RAJNAGAR,RURAL,...,0,0,0,0,0,678,223,455,0.065917,0.000184
15623,15624,21,ODISHA,379,KENDRAPARA,2923,RAJNAGAR P.S,3442,RAJNAGAR,RURAL,...,0,0,0,0,0,678,223,455,0.032280,0.000038
21474,21475,21,ODISHA,377,BALESWAR,2899,CHANDIPUR P.S,3299,BALESWAR SADAR,RURAL,...,0,0,0,0,0,251,86,165,0.013931,0.000014
22176,22177,21,ODISHA,377,BALESWAR,2901,BAMPADA P.S,3670,REMUNA,RURAL,...,1,0,0,0,0,581,210,371,0.084411,0.000336
22714,22715,21,ODISHA,377,BALESWAR,2897,BALESHWAR SADAR P.S,3299,BALESWAR SADAR,RURAL,...,0,0,0,0,0,251,86,165,0.029944,0.000026
24105,24106,21,ODISHA,377,BALESWAR,2895,BASTA P.S,3299,BALESWAR SADAR,RURAL,...,1,0,0,0,0,581,210,371,0.024139,0.000026
34286,34287,21,ODISHA,388,GANJAM,3097,NUAGAON P.S,3372,DIGAPAHANDI,UI,...,0,0,0,0,0,0,0,0,0.223363,0.000723
36152,36153,21,ODISHA,388,GANJAM,3097,NUAGAON P.S,3372,DIGAPAHANDI,UI,...,0,0,0,0,0,0,0,0,0.025402,0.000029
45533,45534,21,ODISHA,396,RAYAGADA,3180,DORAGUDA P.S,3552,KASIPUR,UI,...,0,0,0,0,0,0,0,0,0.008549,0.000005
46430,46431,21,ODISHA,396,RAYAGADA,3180,DORAGUDA P.S,3552,KASIPUR,RURAL,...,0,0,0,0,0,0,0,0,0.037231,0.000075
51307,51308,21,ODISHA,383,DHENKANAL,2991,GANDIA P.S,3351,GONDIA,RURAL,...,0,0,1,1,0,178,69,109,0.056202,0.000139

In [21]:
gis_village_duplicates.to_csv("data/gis_village_duplicates.csv")

In [22]:
odisha_gis_village_no_duplicates = odisha_gis_village.drop_duplicates(subset=['V_CODE']) #(keep=False, inplace=True)

In [23]:
odisha_gis_village_no_duplicates

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,MARG_HH_01,MARG_HH_02,MARG_OT_0_,MARG_OT_01,MARG_OT_02,NON_WORK_P,NON_WORK_M,NON_WORK_F,Shape_Length,Shape_Area
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,0,0,23,15,8,543,186,357,0.057392,0.000219
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,8,0,2,2,0,212,79,133,0.079845,0.000290
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,4,4,0,710,247,463,0.081267,0.000307
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,0,0,35,22,13,1047,438,609,0.127800,0.000758
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,0,0,0,0,0,396,182,214,0.071365,0.000216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51304,51305,21,ODISHA,399,MALKANGIRI,3220,MALKANGIRI P.S,3484,MALKANGIRI,RURAL,...,0,0,0,0,0,20,11,9,0.016954,0.000014
51305,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,0,0,0,0,0,334,173,161,0.037765,0.000091
51306,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,138,46,92,0.033411,0.000048
51308,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,0,0,0,0,0,110,29,81,0.022975,0.000025
51309,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,0,0,0,0,0,0,0,0,0.016433,0.000013

In [24]:
PM_Kisan_merged = odisha_gis_village_no_duplicates.merge(odisha_pm_kisan, left_on='V_CODE', right_on='vill_code', suffixes=(False, False))

In [25]:
PM_Kisan_merged

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,385316,123,46,16,16,45,640,706,"? 12,80,000","? 14,12,000"
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,385267,0,0,0,0,0,0,0,? 0,? 0
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,385263,38,1,8,2,27,183,194,"? 3,66,000","? 3,88,000"
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,385265,102,4,24,21,53,442,617,"? 8,84,000","? 12,34,000"
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,385396,197,26,31,10,130,1128,1149,"? 22,56,000","? 22,98,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51136,51305,21,ODISHA,399,MALKANGIRI,3220,MALKANGIRI P.S,3484,MALKANGIRI,RURAL,...,430337,256,23,52,25,156,1291,1442,"? 25,82,000","? 28,84,000"
51137,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,430954,100,21,40,4,35,453,612,"? 9,06,000","? 12,24,000"
51138,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,392155,27,0,1,5,21,144,152,"? 2,88,000","? 3,04,000"
51139,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,392154,20,0,3,3,14,94,106,"? 1,88,000","? 2,12,000"
51140,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,391848,11,0,1,1,9,46,43,"? 92,000","? 86,000"

In [26]:
len(PM_Kisan_merged.vill_code.unique())

51141

In [27]:
PM_Kisan_merged.to_csv("data/PM_Kisan_merged.csv")

In [28]:
#odisha_pm_kisan_intersect = pd.read_csv('data/PM_Kisan_Intersect.csv')

In [29]:
#odisha_pm_kisan_intersect

In [30]:
#len(odisha_pm_kisan_intersect.PM_Kisan_merged_vill_name.unique())

In [31]:
#odisha_pm_kisan_intersect

In [32]:
#odisha_pm_kisan_intersect['share_area_percentage']= odisha_pm_kisan_intersect['area_intesect']/odisha_pm_kisan_intersect['Area_village']

In [33]:
#odisha_pm_kisan_intersect

In [34]:
#greater_than_50 = odisha_pm_kisan_intersect.loc[odisha_pm_kisan_intersect.share_area_percentage > 0.5, 'share_area_percentage']

In [35]:
#greater_than_50

In [36]:
centroid_ac_join = pd.read_csv('data/centroid within AC.csv')

In [37]:
centroid_ac_join

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due,Area_village
0,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,101.0,6.0,22.0,6.0,67.0,564.0,611.0,"11,28,000","12,22,000",1930428.073
1,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,147.0,59.0,46.0,3.0,39.0,816.0,959.0,"16,32,000","19,18,000",3115955.023
2,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,168.0,20.0,40.0,13.0,95.0,853.0,986.0,"17,06,000","19,72,000",2891340.125
3,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,6029145.296
4,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,129.0,18.0,16.0,9.0,86.0,752.0,783.0,"15,04,000","15,66,000",1745051.835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51252,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,412.0,164.0,52.0,34.0,162.0,2278.0,2409.0,"45,56,000","48,18,000",1442938.527
51253,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,11.0,0.0,4.0,0.0,7.0,56.0,66.0,"1,12,000","1,32,000",190050.475
51254,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,440852.660
51255,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,7.0,0.0,1.0,0.0,6.0,38.0,36.0,"76,000","72,000",320789.010
51256,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,256.0,23.0,52.0,25.0,156.0,1291.0,1442.0,"25,82,000","28,84,000",168803.334

In [38]:
len(centroid_ac_join.PM_Kisan_merged_vill_code.unique())

51086

In [39]:
centroid_ac_join['PM_Kisan_merged_vill_code'].count()

51092

In [40]:
centroid_ac_join['PM_Kisan_merged_vill_code'].isna().sum()

165

In [80]:
centroid_ac_join['V_CODE'].isna().sum()

3

In [41]:
len(PM_Kisan_merged.vill_code.unique())-len(centroid_ac_join.PM_Kisan_merged_vill_code.unique())

55

In [42]:
PM_Kisan_merged['vill_code'].isin(centroid_ac_join['PM_Kisan_merged_vill_code']).value_counts()

True     51085
False       56
Name: vill_code, dtype: int64

In [43]:
len(centroid_ac_join.V_CODE.unique())

51248

In [82]:
centroid_ac_join['V_CODE'].count()

51254

In [44]:
len(centroid_ac_join.V_CODE.unique())-len(centroid_ac_join.PM_Kisan_merged_vill_code.unique())

162

In [45]:
gis_centroid_duplicates = centroid_ac_join[centroid_ac_join.duplicated(['PM_Kisan_merged_vill_code'], keep=False)]

In [46]:
gis_centroid_duplicates

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due,Area_village
1692,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3716,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5928483.226
3761,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4894252.308
3773,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3565771.893
3824,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,923122.257
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51242,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,901571.136
51245,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2427670.984
51246,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2516603.207
51250,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,329026.810
51251,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,195731.930

In [47]:
gis_centroid_duplicates.to_csv("data/gis_centroid_duplicates.csv")

In [48]:
gis_centroid_no_duplicates = centroid_ac_join.drop_duplicates(subset=['PM_Kisan_merged_vill_code']) #(keep=False, inplace=True)

In [49]:
gis_centroid_no_duplicates

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due,Area_village
0,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,101.0,6.0,22.0,6.0,67.0,564.0,611.0,"11,28,000","12,22,000",1930428.073
1,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,147.0,59.0,46.0,3.0,39.0,816.0,959.0,"16,32,000","19,18,000",3115955.023
2,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,168.0,20.0,40.0,13.0,95.0,853.0,986.0,"17,06,000","19,72,000",2891340.125
3,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,6029145.296
4,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,129.0,18.0,16.0,9.0,86.0,752.0,783.0,"15,04,000","15,66,000",1745051.835
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51252,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,412.0,164.0,52.0,34.0,162.0,2278.0,2409.0,"45,56,000","48,18,000",1442938.527
51253,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,11.0,0.0,4.0,0.0,7.0,56.0,66.0,"1,12,000","1,32,000",190050.475
51254,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,440852.660
51255,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,7.0,0.0,1.0,0.0,6.0,38.0,36.0,"76,000","72,000",320789.010
51256,NaN,NaN,NaN,NaN,NaN,NaN,-1,0,-1,NaN,...,256.0,23.0,52.0,25.0,156.0,1291.0,1442.0,"25,82,000","28,84,000",168803.334

In [83]:
PM_Kisan_merged['vill_code'].isin(gis_centroid_no_duplicates['PM_Kisan_merged_vill_code']).value_counts()

True     51085
False       56
Name: vill_code, dtype: int64

In [84]:
gis_centroid_no_duplicates['PM_Kisan_merged_vill_code'].isna().sum()

1

In [50]:
gis_centroid_no_duplicates.to_csv("data/gis_centroid_no_duplicates.csv")

In [51]:
gis_centroid_no_duplicates.groupby(['AC_NAME']).sum(['PM_Kisan_merged_amount_paid'])

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,...,PM_Kisan_merged_sub_code,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,Area_village
AC_NAME,,,,,,,,,,,,,,,,,,,,,
ANANDAPUR (SC),0.0,0.0,0.0,0.0,0.0,0.0,-321,0,-321,0.0,...,916485.0,124269919.0,32104.0,5037.0,9537.0,2513.0,15017.0,152351.0,186730.0,5.893020e+08
ANGUL,0.0,0.0,0.0,0.0,0.0,0.0,-225,0,-225,0.0,...,678249.0,91034540.0,25716.0,4000.0,6953.0,1619.0,13144.0,124911.0,148170.0,4.433806e+08
ASKA,0.0,0.0,0.0,0.0,0.0,0.0,-152,0,-152,0.0,...,467890.0,62507543.0,16357.0,2239.0,5081.0,1128.0,7909.0,73896.0,90190.0,2.711136e+08
ATHAGARH,0.0,0.0,0.0,0.0,0.0,0.0,-277,0,-277,0.0,...,817515.0,110563481.0,22713.0,4565.0,7801.0,1295.0,9052.0,109012.0,137585.0,4.300625e+08
ATHAMALLIK,0.0,0.0,0.0,0.0,0.0,0.0,-678,0,-678,0.0,...,2045784.0,274489692.0,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,1.463142e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TELKOI (ST),0.0,0.0,0.0,0.0,0.0,0.0,-499,0,-499,0.0,...,1421617.0,192877067.0,49351.0,11330.0,13254.0,2425.0,22342.0,257161.0,295066.0,2.140901e+09
TIRTOL (SC),0.0,0.0,0.0,0.0,0.0,0.0,-355,0,-355,0.0,...,1043595.0,141212949.0,30886.0,5083.0,10801.0,2011.0,12991.0,140422.0,182811.0,3.889592e+08
TITLAGARH,0.0,0.0,0.0,0.0,0.0,0.0,-365,0,-365,0.0,...,1149052.0,153698904.0,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,1.019717e+09
UDALA (ST),0.0,0.0,0.0,0.0,0.0,0.0,-342,0,-342,0.0,...,986375.0,133743912.0,30699.0,5234.0,8779.0,1668.0,15018.0,156491.0,181865.0,6.599551e+08
UMERKOTE (ST),0.0,0.0,0.0,0.0,0.0,0.0,-151,0,-151,0.0,...,481348.0,64518152.0,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,8.929299e+08

In [52]:
ac_attributes = gis_centroid_no_duplicates[['AC_NAME','AC_NO','PM_Kisan_merged_vill_name','PM_Kisan_merged_vill_code','PM_Kisan_merged_reg_count', 'PM_Kisan_merged_full_pay_count','PM_Kisan_merged_part_pay_count','PM_Kisan_merged_no_pay_count','PM_Kisan_merged_extra_pay_count','PM_Kisan_merged_no_install_paid','PM_Kisan_merged_no_install_due','PM_Kisan_merged_amount_paid','PM_Kisan_merged_amount_due']]

In [53]:
ac_attributes

,AC_NAME,AC_NO,PM_Kisan_merged_vill_name,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
0,RAIRANGPUR (ST),28,Badagobara - (387390),387390.0,101.0,6.0,22.0,6.0,67.0,564.0,611.0,"11,28,000","12,22,000"
1,RAIRANGPUR (ST),28,Podachakidi - (387408),387408.0,147.0,59.0,46.0,3.0,39.0,816.0,959.0,"16,32,000","19,18,000"
2,RAIRANGPUR (ST),28,Mankididihi - (387424),387424.0,168.0,20.0,40.0,13.0,95.0,853.0,986.0,"17,06,000","19,72,000"
3,RAIRANGPUR (ST),28,Radahill - (387686),387686.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
4,RAIRANGPUR (ST),28,Hensadihi - (387421),387421.0,129.0,18.0,16.0,9.0,86.0,752.0,783.0,"15,04,000","15,66,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51252,MALKANGIRI (ST),146,MPV -81 - (431191),431191.0,412.0,164.0,52.0,34.0,162.0,2278.0,2409.0,"45,56,000","48,18,000"
51253,MALKANGIRI (ST),146,Chandanguda - (430334),430334.0,11.0,0.0,4.0,0.0,7.0,56.0,66.0,"1,12,000","1,32,000"
51254,MALKANGIRI (ST),146,Duruaguda - (430336),430336.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0
51255,MALKANGIRI (ST),146,Mettaguda - (430335),430335.0,7.0,0.0,1.0,0.0,6.0,38.0,36.0,"76,000","72,000"
51256,MALKANGIRI (ST),146,Sindhrimal - (430337),430337.0,256.0,23.0,52.0,25.0,156.0,1291.0,1442.0,"25,82,000","28,84,000"

In [54]:
ac_attributes.applymap(np.isreal)

,AC_NAME,AC_NO,PM_Kisan_merged_vill_name,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
0,False,True,False,True,True,True,True,True,True,True,True,False,False
1,False,True,False,True,True,True,True,True,True,True,True,False,False
2,False,True,False,True,True,True,True,True,True,True,True,False,False
3,False,True,False,True,True,True,True,True,True,True,True,False,False
4,False,True,False,True,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51252,False,True,False,True,True,True,True,True,True,True,True,False,False
51253,False,True,False,True,True,True,True,True,True,True,True,False,False
51254,False,True,False,True,True,True,True,True,True,True,True,False,False
51255,False,True,False,True,True,True,True,True,True,True,True,False,False
51256,False,True,False,True,True,True,True,True,True,True,True,False,False

In [55]:
ac_attributes.dtypes

AC_NAME                             object
AC_NO                                int64
PM_Kisan_merged_vill_name           object
PM_Kisan_merged_vill_code          float64
PM_Kisan_merged_reg_count          float64
PM_Kisan_merged_full_pay_count     float64
PM_Kisan_merged_part_pay_count     float64
PM_Kisan_merged_no_pay_count       float64
PM_Kisan_merged_extra_pay_count    float64
PM_Kisan_merged_no_install_paid    float64
PM_Kisan_merged_no_install_due     float64
PM_Kisan_merged_amount_paid         object
PM_Kisan_merged_amount_due          object
dtype: object

In [56]:
ac_attributes.loc[:,"PM_Kisan_merged_amount_paid"] = ac_attributes["PM_Kisan_merged_amount_paid"].apply(lambda x: float(x.replace(',','')) if isinstance(x, str) else x)

/usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [57]:
ac_attributes.loc[:,"PM_Kisan_merged_amount_due"] = ac_attributes["PM_Kisan_merged_amount_due"].apply(lambda x: float(x.replace(',','')) if isinstance(x, str) else x)

In [58]:
ac_attributes["PM_Kisan_merged_amount_paid"]

0        1128000.0
1        1632000.0
2        1706000.0
3              0.0
4        1504000.0
           ...
51252    4556000.0
51253     112000.0
51254          0.0
51255      76000.0
51256    2582000.0
Name: PM_Kisan_merged_amount_paid, Length: 51086, dtype: float64

In [59]:
ac_attributes.dtypes

AC_NAME                             object
AC_NO                                int64
PM_Kisan_merged_vill_name           object
PM_Kisan_merged_vill_code          float64
PM_Kisan_merged_reg_count          float64
PM_Kisan_merged_full_pay_count     float64
PM_Kisan_merged_part_pay_count     float64
PM_Kisan_merged_no_pay_count       float64
PM_Kisan_merged_extra_pay_count    float64
PM_Kisan_merged_no_install_paid    float64
PM_Kisan_merged_no_install_due     float64
PM_Kisan_merged_amount_paid        float64
PM_Kisan_merged_amount_due         float64
dtype: object

In [60]:
ac_df = ac_attributes[['AC_NAME','AC_NO','PM_Kisan_merged_reg_count', 'PM_Kisan_merged_full_pay_count','PM_Kisan_merged_part_pay_count','PM_Kisan_merged_no_pay_count','PM_Kisan_merged_extra_pay_count','PM_Kisan_merged_no_install_paid','PM_Kisan_merged_no_install_due','PM_Kisan_merged_amount_paid','PM_Kisan_merged_amount_due']]

In [61]:
ac_df

,AC_NAME,AC_NO,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
0,RAIRANGPUR (ST),28,101.0,6.0,22.0,6.0,67.0,564.0,611.0,1128000.0,1222000.0
1,RAIRANGPUR (ST),28,147.0,59.0,46.0,3.0,39.0,816.0,959.0,1632000.0,1918000.0
2,RAIRANGPUR (ST),28,168.0,20.0,40.0,13.0,95.0,853.0,986.0,1706000.0,1972000.0
3,RAIRANGPUR (ST),28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,RAIRANGPUR (ST),28,129.0,18.0,16.0,9.0,86.0,752.0,783.0,1504000.0,1566000.0
...,...,...,...,...,...,...,...,...,...,...,...
51252,MALKANGIRI (ST),146,412.0,164.0,52.0,34.0,162.0,2278.0,2409.0,4556000.0,4818000.0
51253,MALKANGIRI (ST),146,11.0,0.0,4.0,0.0,7.0,56.0,66.0,112000.0,132000.0
51254,MALKANGIRI (ST),146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51255,MALKANGIRI (ST),146,7.0,0.0,1.0,0.0,6.0,38.0,36.0,76000.0,72000.0
51256,MALKANGIRI (ST),146,256.0,23.0,52.0,25.0,156.0,1291.0,1442.0,2582000.0,2884000.0

In [62]:
AC_wise_PM_Kisan = ac_df.groupby(['AC_NAME','AC_NO']).sum(['PM_Kisan_merged_amount_due'])

In [63]:
AC_wise_PM_Kisan

,,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
AC_NAME,AC_NO,,,,,,,,,
ANANDAPUR (SC),22,32104.0,5037.0,9537.0,2513.0,15017.0,152351.0,186730.0,304702000.0,373460000.0
ANGUL,61,25716.0,4000.0,6953.0,1619.0,13144.0,124911.0,148170.0,249822000.0,296340000.0
ASKA,128,16357.0,2239.0,5081.0,1128.0,7909.0,73896.0,90190.0,147792000.0,180380000.0
ATHAGARH,89,22713.0,4565.0,7801.0,1295.0,9052.0,109012.0,137585.0,218024000.0,275170000.0
ATHAMALLIK,63,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...
TELKOI (ST),20,49351.0,11330.0,13254.0,2425.0,22342.0,257161.0,295066.0,514322000.0,590132000.0
TIRTOL (SC),102,30886.0,5083.0,10801.0,2011.0,12991.0,140422.0,182811.0,280844000.0,365622000.0
TITLAGARH,69,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),31,30699.0,5234.0,8779.0,1668.0,15018.0,156491.0,181865.0,312982000.0,363730000.0
UMERKOTE (ST),73,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [64]:
AC_wise_PM_Kisan.to_csv("data/AC_wise_PM_Kisan.csv")

In [65]:
Column_name_edited = AC_wise_PM_Kisan.rename(columns = {'PM_Kisan_merged_reg_count': 'reg_count', 'PM_Kisan_merged_full_pay_count': 'full_pay_count','PM_Kisan_merged_part_pay_count':'part_pay_count' ,'PM_Kisan_merged_no_pay_count':'no_pay_count','PM_Kisan_merged_extra_pay_count':'extra_pay_count','PM_Kisan_merged_no_install_paid':'no_install_paid','PM_Kisan_merged_no_install_due':'no_install_due','PM_Kisan_merged_amount_paid':'amount_paid','PM_Kisan_merged_amount_due':'amount_due'}, inplace = False)

In [66]:
Column_name_edited

,,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
AC_NAME,AC_NO,,,,,,,,,
ANANDAPUR (SC),22,32104.0,5037.0,9537.0,2513.0,15017.0,152351.0,186730.0,304702000.0,373460000.0
ANGUL,61,25716.0,4000.0,6953.0,1619.0,13144.0,124911.0,148170.0,249822000.0,296340000.0
ASKA,128,16357.0,2239.0,5081.0,1128.0,7909.0,73896.0,90190.0,147792000.0,180380000.0
ATHAGARH,89,22713.0,4565.0,7801.0,1295.0,9052.0,109012.0,137585.0,218024000.0,275170000.0
ATHAMALLIK,63,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...
TELKOI (ST),20,49351.0,11330.0,13254.0,2425.0,22342.0,257161.0,295066.0,514322000.0,590132000.0
TIRTOL (SC),102,30886.0,5083.0,10801.0,2011.0,12991.0,140422.0,182811.0,280844000.0,365622000.0
TITLAGARH,69,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),31,30699.0,5234.0,8779.0,1668.0,15018.0,156491.0,181865.0,312982000.0,363730000.0
UMERKOTE (ST),73,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [67]:
Column_name_edited

,,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
AC_NAME,AC_NO,,,,,,,,,
ANANDAPUR (SC),22,32104.0,5037.0,9537.0,2513.0,15017.0,152351.0,186730.0,304702000.0,373460000.0
ANGUL,61,25716.0,4000.0,6953.0,1619.0,13144.0,124911.0,148170.0,249822000.0,296340000.0
ASKA,128,16357.0,2239.0,5081.0,1128.0,7909.0,73896.0,90190.0,147792000.0,180380000.0
ATHAGARH,89,22713.0,4565.0,7801.0,1295.0,9052.0,109012.0,137585.0,218024000.0,275170000.0
ATHAMALLIK,63,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...
TELKOI (ST),20,49351.0,11330.0,13254.0,2425.0,22342.0,257161.0,295066.0,514322000.0,590132000.0
TIRTOL (SC),102,30886.0,5083.0,10801.0,2011.0,12991.0,140422.0,182811.0,280844000.0,365622000.0
TITLAGARH,69,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),31,30699.0,5234.0,8779.0,1668.0,15018.0,156491.0,181865.0,312982000.0,363730000.0
UMERKOTE (ST),73,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [68]:
Column_name_edited.insert(0, 'fiscal_year', '2019-20')

In [69]:
Column_name_edited

,,fiscal_year,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
AC_NAME,AC_NO,,,,,,,,,,
ANANDAPUR (SC),22,2019-20,32104.0,5037.0,9537.0,2513.0,15017.0,152351.0,186730.0,304702000.0,373460000.0
ANGUL,61,2019-20,25716.0,4000.0,6953.0,1619.0,13144.0,124911.0,148170.0,249822000.0,296340000.0
ASKA,128,2019-20,16357.0,2239.0,5081.0,1128.0,7909.0,73896.0,90190.0,147792000.0,180380000.0
ATHAGARH,89,2019-20,22713.0,4565.0,7801.0,1295.0,9052.0,109012.0,137585.0,218024000.0,275170000.0
ATHAMALLIK,63,2019-20,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...,...
TELKOI (ST),20,2019-20,49351.0,11330.0,13254.0,2425.0,22342.0,257161.0,295066.0,514322000.0,590132000.0
TIRTOL (SC),102,2019-20,30886.0,5083.0,10801.0,2011.0,12991.0,140422.0,182811.0,280844000.0,365622000.0
TITLAGARH,69,2019-20,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),31,2019-20,30699.0,5234.0,8779.0,1668.0,15018.0,156491.0,181865.0,312982000.0,363730000.0
UMERKOTE (ST),73,2019-20,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [70]:
Column_name_edited.to_csv("data/AC_wise_PM_Kisan.csv")

In [71]:
ac_pc_geofile_shapefile = pd.read_csv('data/AC_PC_geofile_shapefile.csv')

In [72]:
ac_pc_geofile_shapefile

,AC_NO,ac_name_geofile,AC_NAME,PC_NO,PC_NAME,pc_name_geofile
0,7,JHARSUGUDA,JHARSUGUDA,1,BARGARH,Bargarh
1,6,BRAJARAJNAGAR,BRAJARAJNAGAR,1,BARGARH,Bargarh
2,5,BHATLI,BHATLI,1,BARGARH,Bargarh
3,4,ATTABIRA (SC),ATTABIRA (SC),1,BARGARH,Bargarh
4,3,BARGARH,BARGARH,1,BARGARH,Bargarh
...,...,...,...,...,...,...
142,140,RAYAGADA (ST),RAYAGADA (ST),21,KORAPUT (ST),Koraput (ST)
143,141,LAKSHMIPUR (ST),LAKSHMIPUR (ST),21,KORAPUT (ST),Koraput (ST)
144,143,JEYPORE,JEYPORE,21,KORAPUT (ST),Koraput (ST)
145,144,KORAPUT (SC),KORAPUT (SC),21,KORAPUT (ST),Koraput (ST)
146,145,POTTANGI (ST),POTTANGI (ST),21,KORAPUT (ST),Koraput (ST)

In [73]:
ac_pc_merged = Column_name_edited.merge(ac_pc_geofile_shapefile, left_on='AC_NO', right_on='AC_NO', suffixes=(False, False))

In [74]:
ac_pc_merged

,AC_NO,fiscal_year,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due,ac_name_geofile,AC_NAME,PC_NO,PC_NAME,pc_name_geofile
0,22,2019-20,32104.0,5037.0,9537.0,2513.0,15017.0,152351.0,186730.0,304702000.0,373460000.0,ANANDAPUR (SC),ANANDAPUR (SC),4,KEONJHAR (ST),Keonjhar (ST)
1,61,2019-20,25716.0,4000.0,6953.0,1619.0,13144.0,124911.0,148170.0,249822000.0,296340000.0,ANGUL,ANGUL,9,DHENKANAL,Dhenkanal
2,128,2019-20,16357.0,2239.0,5081.0,1128.0,7909.0,73896.0,90190.0,147792000.0,180380000.0,ASKA,ASKA,19,ASKA,Aska
3,89,2019-20,22713.0,4565.0,7801.0,1295.0,9052.0,109012.0,137585.0,218024000.0,275170000.0,ATHAGARH,ATHAGARH,14,CUTTACK,Cuttack
4,63,2019-20,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0,ATHAMALLIK,ATHAMALLIK,3,SAMBALPUR,Sambalpur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,20,2019-20,49351.0,11330.0,13254.0,2425.0,22342.0,257161.0,295066.0,514322000.0,590132000.0,TELKOI (ST),TELKOI (ST),4,KEONJHAR (ST),Keonjhar (ST)
141,102,2019-20,30886.0,5083.0,10801.0,2011.0,12991.0,140422.0,182811.0,280844000.0,365622000.0,TIRTOL (SC),TIRTOL (SC),16,JAGATSINGHPUR (SC),Jagatsinghpur (SC)
142,69,2019-20,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0,TITLAGARH,TITLAGARH,10,BOLANGIR,Bolangir
143,31,2019-20,30699.0,5234.0,8779.0,1668.0,15018.0,156491.0,181865.0,312982000.0,363730000.0,UDALA (ST),UDALA (ST),5,MAYURBHANJ (ST),Mayurbhanj (ST)
144,73,2019-20,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0,UMERKOTE (ST),UMERKOTE (ST),12,NABARANGPUR (ST),Nabarangpur (ST)

In [75]:
PC_wise_PM_Kisan = ac_pc_merged.groupby(['PC_NAME','PC_NO']).sum(['amount_due'])

In [76]:
PC_wise_PM_Kisan

,,AC_NO,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
PC_NAME,PC_NO,,,,,,,,,,
ASKA,19,893,146924.0,23886.0,46250.0,11867.0,64921.0,696548.0,873595.0,1.393096e+09,1.747190e+09
BALASORE,6,257,201711.0,32169.0,55301.0,16770.0,97471.0,975126.0,1187744.0,1.950252e+09,2.375488e+09
BARGARH,1,28,193141.0,27223.0,43145.0,24068.0,98705.0,932698.0,1150702.0,1.865396e+09,2.301404e+09
BERHAMPUR,20,934,126513.0,19236.0,39787.0,9001.0,58489.0,612723.0,755635.0,1.225446e+09,1.511270e+09
BHADRAK (SC),7,308,235340.0,24324.0,59554.0,30067.0,121395.0,1044098.0,1304875.0,2.088196e+09,2.609750e+09
BHUBANESWAR,18,575,54400.0,6371.0,17904.0,5556.0,24569.0,240156.0,313649.0,4.803120e+08,6.272980e+08
BOLANGIR,10,469,282734.0,45166.0,71502.0,23551.0,142515.0,1404161.0,1658034.0,2.808322e+09,3.316068e+09
CUTTACK,14,658,121441.0,19109.0,43021.0,11677.0,47634.0,532830.0,720322.0,1.065660e+09,1.440644e+09
DHENKANAL,9,406,190217.0,24626.0,54989.0,16361.0,94241.0,887304.0,1105647.0,1.774608e+09,2.211294e+09
JAGATSINGHPUR (SC),16,713,216322.0,32843.0,72538.0,18706.0,92235.0,983666.0,1284202.0,1.967332e+09,2.568404e+09
JAJPUR (SC),8,357,157229.0,21435.0,54676.0,12465.0,68653.0,685377.0,898171.0,1.370754e+09,1.796342e+09
KALAHANDI,11,538,245558.0,35767.0,72660.0,22276.0,114855.0,1159986.0,1437258.0,2.319972e+09,2.874516e+09
KANDHAMAL,13,664,195365.0,28716.0,45526.0,11103.0,110020.0,1036179.0,1172154.0,2.072358e+09,2.344308e+09
KENDRAPARA,15,679,219256.0,33546.0,67824.0,20330.0,97556.0,1011971.0,1286094.0,2.023942e+09,2.572188e+09
KEONJHAR (ST),4,165,249282.0,45370.0,65538.0,16580.0,121794.0,1262114.0,1471340.0,2.524228e+09,2.942680e+09
KORAPUT (ST),21,990,157628.0,28379.0,52497.0,8197.0,68555.0,766998.0,937152.0,1.533996e+09,1.874304e+09
MAYURBHANJ (ST),5,208,235674.0,40857.0,57245.0,12085.0,125487.0,1243568.0,1382947.0,2.487136e+09,2.765894e+09
NABARANGPUR (ST),12,733,216477.0,26911.0,56660.0,21993.0,110913.0,1012431.0,1202972.0,2.024862e+09,2.405944e+09
PURI,17,904,188029.0,28886.0,64073.0,18304.0,76766.0,844242.0,1128566.0,1.688484e+09,2.257132e+09
SAMBALPUR,3,193,205868.0,36977.0,57041.0,12948.0,98902.0,1039234.0,1242942.0,2.078468e+09,2.485884e+09
SUNDARGARH (ST),2,77,169223.0,27772.0,28607.0,8997.0,103847.0,949464.0,999942.0,1.898928e+09,1.999884e+09

In [77]:
PC_wise_PM_Kisan = PC_wise_PM_Kisan [['reg_count', 'full_pay_count','part_pay_count','no_pay_count','extra_pay_count','no_install_paid','no_install_due','amount_paid','amount_due']]

In [78]:
PC_wise_PM_Kisan

,,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
PC_NAME,PC_NO,,,,,,,,,
ASKA,19,146924.0,23886.0,46250.0,11867.0,64921.0,696548.0,873595.0,1.393096e+09,1.747190e+09
BALASORE,6,201711.0,32169.0,55301.0,16770.0,97471.0,975126.0,1187744.0,1.950252e+09,2.375488e+09
BARGARH,1,193141.0,27223.0,43145.0,24068.0,98705.0,932698.0,1150702.0,1.865396e+09,2.301404e+09
BERHAMPUR,20,126513.0,19236.0,39787.0,9001.0,58489.0,612723.0,755635.0,1.225446e+09,1.511270e+09
BHADRAK (SC),7,235340.0,24324.0,59554.0,30067.0,121395.0,1044098.0,1304875.0,2.088196e+09,2.609750e+09
BHUBANESWAR,18,54400.0,6371.0,17904.0,5556.0,24569.0,240156.0,313649.0,4.803120e+08,6.272980e+08
BOLANGIR,10,282734.0,45166.0,71502.0,23551.0,142515.0,1404161.0,1658034.0,2.808322e+09,3.316068e+09
CUTTACK,14,121441.0,19109.0,43021.0,11677.0,47634.0,532830.0,720322.0,1.065660e+09,1.440644e+09
DHENKANAL,9,190217.0,24626.0,54989.0,16361.0,94241.0,887304.0,1105647.0,1.774608e+09,2.211294e+09
JAGATSINGHPUR (SC),16,216322.0,32843.0,72538.0,18706.0,92235.0,983666.0,1284202.0,1.967332e+09,2.568404e+09
JAJPUR (SC),8,157229.0,21435.0,54676.0,12465.0,68653.0,685377.0,898171.0,1.370754e+09,1.796342e+09
KALAHANDI,11,245558.0,35767.0,72660.0,22276.0,114855.0,1159986.0,1437258.0,2.319972e+09,2.874516e+09
KANDHAMAL,13,195365.0,28716.0,45526.0,11103.0,110020.0,1036179.0,1172154.0,2.072358e+09,2.344308e+09
KENDRAPARA,15,219256.0,33546.0,67824.0,20330.0,97556.0,1011971.0,1286094.0,2.023942e+09,2.572188e+09
KEONJHAR (ST),4,249282.0,45370.0,65538.0,16580.0,121794.0,1262114.0,1471340.0,2.524228e+09,2.942680e+09
KORAPUT (ST),21,157628.0,28379.0,52497.0,8197.0,68555.0,766998.0,937152.0,1.533996e+09,1.874304e+09
MAYURBHANJ (ST),5,235674.0,40857.0,57245.0,12085.0,125487.0,1243568.0,1382947.0,2.487136e+09,2.765894e+09
NABARANGPUR (ST),12,216477.0,26911.0,56660.0,21993.0,110913.0,1012431.0,1202972.0,2.024862e+09,2.405944e+09
PURI,17,188029.0,28886.0,64073.0,18304.0,76766.0,844242.0,1128566.0,1.688484e+09,2.257132e+09
SAMBALPUR,3,205868.0,36977.0,57041.0,12948.0,98902.0,1039234.0,1242942.0,2.078468e+09,2.485884e+09
SUNDARGARH (ST),2,169223.0,27772.0,28607.0,8997.0,103847.0,949464.0,999942.0,1.898928e+09,1.999884e+09

In [79]:
PC_wise_PM_Kisan.to_csv("data/PC_wise_PM_Kisan.csv")