In [1]:
import sys
!{sys.executable} -m pip install openpyxl numpy pandas scikit-learn matplotlib seaborn

Requirement already satisfied: openpyxl in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (3.0.7)
Requirement already satisfied: numpy in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.20.3)
Requirement already satisfied: pandas in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: scikit-learn in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (0.24.2)
Requirement already satisfied: matplotlib in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (3.4.2)
Requirement already satisfied: seaborn in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (0.11.1)
Requirement already satisfied: et-xmlfile in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from scikit-learn) (1.6.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/Cellar/jupyterlab/3.0.16/libexec/lib/python3.9/site-packages (from matplotlib) (1.3.1)
WARNING: You are using pip version 21.1.1; however, version 21.2.4 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.0.16/libexec/bin/python3.9 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import numpy as np
import itertools
import openpyxl 
import seaborn as sns
from openpyxl import load_workbook

In [3]:
odisha_pm_kisan = pd.read_csv("../data/updated/pm-kisan-pay-data-odisha-with-amount.csv")

In [4]:
odisha_pm_kisan

,state_name,state_code,dist_name,dist_code,sub_name,sub_code,vill_name,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
0,ODISHA,21,ANUGUL,344,Anugul,3011,Amantapur - (404262),404262,23,4,10,2,7,94,143,188000,286000
1,ODISHA,21,ANUGUL,344,Anugul,3011,Ambapal - (404197),404197,279,3,80,8,188,1423,1666,2846000,3332000
2,ODISHA,21,ANUGUL,344,Anugul,3011,Ambapal jungle - (404198),404198,1,0,0,0,1,6,5,12000,10000
3,ODISHA,21,ANUGUL,344,Anugul,3011,Angarbandha - (404281),404281,582,165,197,31,189,2845,3471,5690000,6942000
4,ODISHA,21,ANUGUL,344,Anugul,3011,Ankurabahal - (404217),404217,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53781,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Sindurkela - (385055),385055,49,7,10,3,29,274,295,548000,590000
53782,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tikayatpali - (385072),385072,88,17,9,5,57,519,513,1038000,1026000
53783,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tileimal - (385078),385078,19,0,1,1,17,118,108,236000,216000
53784,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Tuniapali - (385071),385071,63,7,7,7,42,325,343,650000,686000
53785,ODISHA,21,SUNDARGARH,373,Tikaetpali,2829,Ulasara - (385041),385041,81,3,2,10,66,438,406,876000,812000

In [5]:
odisha_pm_kisan['vill_code'].count()

53786

In [6]:
len(odisha_pm_kisan[odisha_pm_kisan['vill_code'] == ''])

0

In [7]:
odisha_pm_kisan['vill_code'].isna().sum()

0

In [8]:
odisha_gis_village = pd.read_csv("../data/qgis/village_gis_list_2011_odisha.csv")

In [9]:
odisha_gis_village

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,TOT_M,TOT_F,P_LIT,M_LIT,F_LIT,P_ILL,M_ILL,F_ILL,Shape_Length,Shape_Area
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,442,418,410,286,124,450,156,294,0.057392,0.000219
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,132,156,67,41,26,221,91,130,0.079845,0.000290
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,524,516,526,323,203,514,201,313,0.081267,0.000307
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,874,855,474,309,165,1255,565,690,0.127800,0.000758
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,446,486,450,281,169,482,165,317,0.071365,0.000216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51305,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,422,428,252,158,94,598,264,334,0.037765,0.000091
51306,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,121,103,180,102,78,44,19,25,0.033411,0.000048
51307,51308,21,ODISHA,383,DHENKANAL,2991,GANDIA P.S,3351,GONDIA,RURAL,...,190,154,267,159,108,77,31,46,0.056202,0.000139
51308,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,85,81,134,74,60,32,11,21,0.022975,0.000025
51309,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,0,0,0,0,0,0,0,0,0.016433,0.000013

In [10]:
odisha_gis_village['V_CODE'].count()

51310

In [11]:
len(odisha_gis_village[odisha_gis_village['V_CODE'] == ''])

0

In [12]:
odisha_gis_village['V_CODE'].isna().sum()

0

In [13]:
odisha_pm_kisan['vill_code'].isin(odisha_gis_village['V_CODE']).value_counts()

True     51141
False     2645
Name: vill_code, dtype: int64

In [14]:
odisha_gis_village['V_CODE'].isin(odisha_pm_kisan['vill_code']).value_counts()

True     51148
False      162
Name: V_CODE, dtype: int64

In [15]:
len(odisha_gis_village.V_CODE.unique()) #51310

51303

In [16]:
len(odisha_pm_kisan.vill_code.unique()) #53786

53786

In [17]:
len(odisha_gis_village['V_CODE'])-len(odisha_gis_village['V_CODE'].drop_duplicates())

7

In [18]:
gis_village_duplicates = odisha_gis_village[odisha_gis_village.duplicated(['V_CODE'], keep=False)]

In [19]:
gis_village_duplicates

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,TOT_M,TOT_F,P_LIT,M_LIT,F_LIT,P_ILL,M_ILL,F_ILL,Shape_Length,Shape_Area
2204,2205,21,ODISHA,383,DHENKANAL,2987,PARJANG P.S,3356,PARJANG,RURAL,...,190,154,267,159,108,77,31,46,0.139233,0.000476
8691,8692,21,ODISHA,392,SUBARNAPUR,3139,SONAPUR P.S,3570,SONEPUR,RURAL,...,415,393,432,254,178,376,161,215,0.060281,0.000205
9117,9118,21,ODISHA,392,SUBARNAPUR,3139,SONAPUR P.S,3570,SONEPUR,RURAL,...,415,393,432,254,178,376,161,215,0.050326,0.000138
14661,14662,21,ODISHA,379,KENDRAPARA,2923,RAJNAGAR P.S,3442,RAJNAGAR,RURAL,...,499,472,744,397,347,227,102,125,0.065917,0.000184
15623,15624,21,ODISHA,379,KENDRAPARA,2923,RAJNAGAR P.S,3442,RAJNAGAR,RURAL,...,499,472,744,397,347,227,102,125,0.032280,0.000038
21474,21475,21,ODISHA,377,BALESWAR,2899,CHANDIPUR P.S,3299,BALESWAR SADAR,RURAL,...,195,174,297,164,133,72,31,41,0.013931,0.000014
22176,22177,21,ODISHA,377,BALESWAR,2901,BAMPADA P.S,3670,REMUNA,RURAL,...,431,384,653,362,291,162,69,93,0.084411,0.000336
22714,22715,21,ODISHA,377,BALESWAR,2897,BALESHWAR SADAR P.S,3299,BALESWAR SADAR,RURAL,...,195,174,297,164,133,72,31,41,0.029944,0.000026
24105,24106,21,ODISHA,377,BALESWAR,2895,BASTA P.S,3299,BALESWAR SADAR,RURAL,...,431,384,653,362,291,162,69,93,0.024139,0.000026
34286,34287,21,ODISHA,388,GANJAM,3097,NUAGAON P.S,3372,DIGAPAHANDI,UI,...,0,0,0,0,0,0,0,0,0.223363,0.000723
36152,36153,21,ODISHA,388,GANJAM,3097,NUAGAON P.S,3372,DIGAPAHANDI,UI,...,0,0,0,0,0,0,0,0,0.025402,0.000029
45533,45534,21,ODISHA,396,RAYAGADA,3180,DORAGUDA P.S,3552,KASIPUR,UI,...,0,0,0,0,0,0,0,0,0.008549,0.000005
46430,46431,21,ODISHA,396,RAYAGADA,3180,DORAGUDA P.S,3552,KASIPUR,RURAL,...,0,0,0,0,0,0,0,0,0.037231,0.000075
51307,51308,21,ODISHA,383,DHENKANAL,2991,GANDIA P.S,3351,GONDIA,RURAL,...,190,154,267,159,108,77,31,46,0.056202,0.000139

In [20]:
gis_village_duplicates.to_csv("../results/odisha_gis_village_duplicates.csv")

In [21]:
odisha_gis_village_no_duplicates = odisha_gis_village.drop_duplicates(subset=['V_CODE']) #(keep=False, inplace=True)

In [22]:
odisha_gis_village_no_duplicates

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,TOT_M,TOT_F,P_LIT,M_LIT,F_LIT,P_ILL,M_ILL,F_ILL,Shape_Length,Shape_Area
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,442,418,410,286,124,450,156,294,0.057392,0.000219
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,132,156,67,41,26,221,91,130,0.079845,0.000290
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,524,516,526,323,203,514,201,313,0.081267,0.000307
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,874,855,474,309,165,1255,565,690,0.127800,0.000758
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,446,486,450,281,169,482,165,317,0.071365,0.000216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51304,51305,21,ODISHA,399,MALKANGIRI,3220,MALKANGIRI P.S,3484,MALKANGIRI,RURAL,...,22,27,7,7,0,42,15,27,0.016954,0.000014
51305,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,422,428,252,158,94,598,264,334,0.037765,0.000091
51306,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,121,103,180,102,78,44,19,25,0.033411,0.000048
51308,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,85,81,134,74,60,32,11,21,0.022975,0.000025
51309,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,0,0,0,0,0,0,0,0,0.016433,0.000013

In [23]:
odisha_gis_village_no_duplicates.to_csv("../results/odisha_gis_village_no_duplicates.csv")

In [24]:
odisha_gis_village_no_duplicates['V_CODE'].isin(odisha_pm_kisan['vill_code']).value_counts() #51148

True     51141
False      162
Name: V_CODE, dtype: int64

In [25]:
PM_Kisan_merged = odisha_gis_village_no_duplicates.merge(odisha_pm_kisan, left_on='V_CODE', right_on='vill_code', suffixes=(False, False))

In [26]:
PM_Kisan_merged

,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,PS_CODE,PS_NAME,B_CODE,B_NAME,TRU,...,vill_code,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
0,1,21,ODISHA,375,KENDUJHAR,2837,JODA P.S,3451,JODA,RURAL,...,385316,123,46,16,16,45,640,706,1280000,1412000
1,2,21,ODISHA,375,KENDUJHAR,2835,BOLANI P.S,3451,JODA,RURAL,...,385267,0,0,0,0,0,0,0,0,0
2,3,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,385263,38,1,8,2,27,183,194,366000,388000
3,4,21,ODISHA,375,KENDUJHAR,2834,BARBIL P.S,3451,JODA,RURAL,...,385265,102,4,24,21,53,442,617,884000,1234000
4,5,21,ODISHA,375,KENDUJHAR,2839,CHAMPUA P.S,3445,CHAMPUA,RURAL,...,385396,197,26,31,10,130,1128,1149,2256000,2298000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51136,51305,21,ODISHA,399,MALKANGIRI,3220,MALKANGIRI P.S,3484,MALKANGIRI,RURAL,...,430337,256,23,52,25,156,1291,1442,2582000,2884000
51137,51306,21,ODISHA,399,MALKANGIRI,3226,ORKEL P.S,3482,KORUKONDA,RURAL,...,430954,100,21,40,4,35,453,612,906000,1224000
51138,51307,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,392155,27,0,1,5,21,144,152,288000,304000
51139,51309,21,ODISHA,377,BALESWAR,2894,SINGLA P.S,3301,BASTA,RURAL,...,392154,20,0,3,3,14,94,106,188000,212000
51140,51310,21,ODISHA,377,BALESWAR,2892,KAMARDA P.S,3302,BHOGRAI,RURAL,...,391848,11,0,1,1,9,46,43,92000,86000

In [27]:
len(PM_Kisan_merged.vill_code.unique())

51141

In [28]:
PM_Kisan_merged.to_csv("../results/pm_kisan_merged.csv")

In [29]:
centroid_ac_join = pd.read_csv("../data/qgis/ac_contains_village_centroids.csv")

In [30]:
centroid_ac_join

,OBJECTID_1,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,AC_NAME,PC_NO,PC_NAME,AC_NO,...,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
0,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380858.0,60.0,0.0,5.0,11.0,44.0,308.0,339.0,616000.0,678000.0
1,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380854.0,296.0,6.0,36.0,107.0,147.0,1021.0,1573.0,2042000.0,3146000.0
2,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380927.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380855.0,136.0,11.0,17.0,37.0,71.0,593.0,786.0,1186000.0,1572000.0
4,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380856.0,45.0,1.0,10.0,9.0,25.0,189.0,240.0,378000.0,480000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51306,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,431170.0,22.0,1.0,7.0,2.0,12.0,99.0,117.0,198000.0,234000.0
51307,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51308,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,431168.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
51309,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51310,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
len(centroid_ac_join.V_CODE.unique())

51301

In [32]:
centroid_ac_join['PM_Kisan_merged_vill_code'].count()

51146

In [33]:
centroid_ac_join['PM_Kisan_merged_vill_code'].isna().sum()

165

In [34]:
centroid_ac_join['V_CODE'].isna().sum()

3

In [35]:
len(PM_Kisan_merged.vill_code.unique())-len(centroid_ac_join.PM_Kisan_merged_vill_code.unique())

2

In [36]:
PM_Kisan_merged['vill_code'].isin(centroid_ac_join['PM_Kisan_merged_vill_code']).value_counts()

True     51138
False        3
Name: vill_code, dtype: int64

In [37]:
len(centroid_ac_join.V_CODE.unique())

51301

In [38]:
centroid_ac_join['V_CODE'].count()

51308

In [39]:
len(centroid_ac_join.V_CODE.unique())-len(centroid_ac_join.PM_Kisan_merged_vill_code.unique())

162

In [40]:
gis_centroid_duplicates = centroid_ac_join[centroid_ac_join.duplicated(['PM_Kisan_merged_vill_code'], keep=False)]

In [41]:
gis_centroid_duplicates

,OBJECTID_1,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,AC_NAME,PC_NO,PC_NAME,AC_NO,...,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
1651,8,8,21,ODISHA,372,SAMBALPUR,KUCHINDA (ST),3,SAMBALPUR,15,...,383236.0,5.0,0.0,1.0,0.0,4.0,28.0,28.0,56000.0,56000.0
2530,9,9,21,ODISHA,372,SAMBALPUR,RAIRAKHOL,3,SAMBALPUR,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2871,11,11,21,ODISHA,372,SAMBALPUR,SAMBALPUR,3,SAMBALPUR,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3731,12,12,21,ODISHA,373,DEBAGARH,DEOGARH,3,SAMBALPUR,19,...,383236.0,5.0,0.0,1.0,0.0,4.0,28.0,28.0,56000.0,56000.0
4852,17,17,21,ODISHA,374,SUNDARGARH,ROURKELA,2,SUNDARGARH (ST),12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51302,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51303,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51307,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51309,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51310,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
gis_centroid_duplicates.to_csv("../results/gis_centroid_duplicates.csv")

In [43]:
gis_centroid_no_duplicates = centroid_ac_join.drop_duplicates(subset=['PM_Kisan_merged_vill_code']) #(keep=False, inplace=True)

In [44]:
gis_centroid_no_duplicates

,OBJECTID_1,OBJECTID,S_CODE,S_NAME,D_CODE,D_NAME,AC_NAME,PC_NO,PC_NAME,AC_NO,...,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
0,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380858.0,60.0,0.0,5.0,11.0,44.0,308.0,339.0,616000.0,678000.0
1,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380854.0,296.0,6.0,36.0,107.0,147.0,1021.0,1573.0,2042000.0,3146000.0
2,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380927.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380855.0,136.0,11.0,17.0,37.0,71.0,593.0,786.0,1186000.0,1572000.0
4,1,1,21,ODISHA,370,BARGARH,ATTABIRA(SC),1,BARGARH,4,...,380856.0,45.0,1.0,10.0,9.0,25.0,189.0,240.0,378000.0,480000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51300,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,431144.0,18.0,1.0,4.0,1.0,12.0,77.0,84.0,154000.0,168000.0
51304,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,431169.0,96.0,9.0,34.0,10.0,43.0,411.0,542.0,822000.0,1084000.0
51305,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,431171.0,2.0,0.0,2.0,0.0,0.0,5.0,12.0,10000.0,24000.0
51306,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,431170.0,22.0,1.0,7.0,2.0,12.0,99.0,117.0,198000.0,234000.0
51308,147,150,21,ODISHA,399,MALKANGIRI,MALKANGIRI (ST),12,NABRANGPUR (ST),146,...,431168.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [45]:
PM_Kisan_merged['V_CODE'].isin(gis_centroid_no_duplicates['PM_Kisan_merged_vill_code']).value_counts()

True     51138
False        3
Name: V_CODE, dtype: int64

In [46]:
gis_centroid_no_duplicates['PM_Kisan_merged_vill_code'].isna().sum()

1

In [47]:
gis_centroid_no_duplicates.to_csv("../results/gis_centroid_no_duplicates.csv")

In [48]:
gis_centroid_no_duplicates.groupby(['AC_NAME']).sum(['PM_Kisan_merged_amount_due'])

,OBJECTID_1,OBJECTID,S_CODE,D_CODE,PC_NO,AC_NO,Shape_Length,Shape_Area,OBJECTID_2,S_CODE_2,...,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
AC_NAME,,,,,,,,,,,,,,,,,,,,,
ANANDAPUR (SC),6440,6440,6762,120750,1288,7084,746.184295,22.819403,348512.0,6762.0,...,124652949.0,32327.0,5077.0,9618.0,2540.0,15092.0,153335.0,188111.0,306670000.0,376222000.0
ANUGUL,17325,17775,4725,86400,2025,13725,376.706898,11.962958,2271660.0,4725.0,...,91034622.0,25786.0,4001.0,6962.0,1633.0,13190.0,125231.0,148566.0,250462000.0,297132000.0
ASKA,15200,15504,3192,58976,2888,19456,204.848302,3.640704,5003605.0,3192.0,...,62508260.0,16459.0,2247.0,5134.0,1129.0,7949.0,74307.0,90749.0,148614000.0,181498000.0
ATHAGARH,15789,16066,5817,105537,3878,24653,547.526130,15.219309,1183532.0,5817.0,...,110559253.0,22897.0,4641.0,7863.0,1276.0,9117.0,110199.0,138794.0,220398000.0,277588000.0
ATHAMALLIK,52884,54240,14238,260352,2034,42714,1852.569388,149.457268,6821744.0,14238.0,...,274489692.0,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TELKOI(ST),12300,12792,10332,184500,1968,9840,2084.838671,124.991379,580760.0,10332.0,...,190157737.0,47929.0,10980.0,12743.0,2393.0,21813.0,250081.0,286632.0,500162000.0,573264000.0
TIRTOL (SC),19768,20121,7413,134140,5648,36006,576.510617,12.066819,8773157.0,7413.0,...,140415465.0,30768.0,5071.0,10786.0,2001.0,12910.0,139755.0,182141.0,279510000.0,364282000.0
TITLAGARH,45990,47085,7665,143445,3650,25185,1164.181715,42.370981,4818517.0,7665.0,...,153698904.0,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),11662,12005,7203,128968,1715,10633,648.482601,19.986500,6700381.0,7203.0,...,134134838.0,30735.0,5243.0,8785.0,1675.0,15032.0,156654.0,182061.0,313308000.0,364122000.0
UMERKOTE (ST),21140,21593,3171,59947,1812,11023,300.953716,18.318239,7072980.0,3171.0,...,64518152.0,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [49]:
ac_attributes = gis_centroid_no_duplicates[['AC_NAME','AC_NO','PM_Kisan_merged_vill_name','PM_Kisan_merged_vill_code','PM_Kisan_merged_reg_count', 'PM_Kisan_merged_full_pay_count','PM_Kisan_merged_part_pay_count','PM_Kisan_merged_no_pay_count','PM_Kisan_merged_extra_pay_count','PM_Kisan_merged_no_install_paid','PM_Kisan_merged_no_install_due','PM_Kisan_merged_amount_paid','PM_Kisan_merged_amount_due']]

In [50]:
ac_attributes

,AC_NAME,AC_NO,PM_Kisan_merged_vill_name,PM_Kisan_merged_vill_code,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
0,ATTABIRA(SC),4,Nuabatimunda - (380858),380858.0,60.0,0.0,5.0,11.0,44.0,308.0,339.0,616000.0,678000.0
1,ATTABIRA(SC),4,Pahardshrigira - (380854),380854.0,296.0,6.0,36.0,107.0,147.0,1021.0,1573.0,2042000.0,3146000.0
2,ATTABIRA(SC),4,Forest village - (380927),380927.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ATTABIRA(SC),4,Rengali - (380855),380855.0,136.0,11.0,17.0,37.0,71.0,593.0,786.0,1186000.0,1572000.0
4,ATTABIRA(SC),4,Dhemsa - (380856),380856.0,45.0,1.0,10.0,9.0,25.0,189.0,240.0,378000.0,480000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51300,MALKANGIRI (ST),146,MPV - 57 - (431144),431144.0,18.0,1.0,4.0,1.0,12.0,77.0,84.0,154000.0,168000.0
51304,MALKANGIRI (ST),146,Motu - (431169),431169.0,96.0,9.0,34.0,10.0,43.0,411.0,542.0,822000.0,1084000.0
51305,MALKANGIRI (ST),146,Madiguru - (431171),431171.0,2.0,0.0,2.0,0.0,0.0,5.0,12.0,10000.0,24000.0
51306,MALKANGIRI (ST),146,Katagura - (431170),431170.0,22.0,1.0,7.0,2.0,12.0,99.0,117.0,198000.0,234000.0
51308,MALKANGIRI (ST),146,Baribancha - (431168),431168.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
ac_df = ac_attributes[['AC_NAME','AC_NO','PM_Kisan_merged_reg_count', 'PM_Kisan_merged_full_pay_count','PM_Kisan_merged_part_pay_count','PM_Kisan_merged_no_pay_count','PM_Kisan_merged_extra_pay_count','PM_Kisan_merged_no_install_paid','PM_Kisan_merged_no_install_due','PM_Kisan_merged_amount_paid','PM_Kisan_merged_amount_due']]

In [52]:
ac_df

,AC_NAME,AC_NO,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
0,ATTABIRA(SC),4,60.0,0.0,5.0,11.0,44.0,308.0,339.0,616000.0,678000.0
1,ATTABIRA(SC),4,296.0,6.0,36.0,107.0,147.0,1021.0,1573.0,2042000.0,3146000.0
2,ATTABIRA(SC),4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ATTABIRA(SC),4,136.0,11.0,17.0,37.0,71.0,593.0,786.0,1186000.0,1572000.0
4,ATTABIRA(SC),4,45.0,1.0,10.0,9.0,25.0,189.0,240.0,378000.0,480000.0
...,...,...,...,...,...,...,...,...,...,...,...
51300,MALKANGIRI (ST),146,18.0,1.0,4.0,1.0,12.0,77.0,84.0,154000.0,168000.0
51304,MALKANGIRI (ST),146,96.0,9.0,34.0,10.0,43.0,411.0,542.0,822000.0,1084000.0
51305,MALKANGIRI (ST),146,2.0,0.0,2.0,0.0,0.0,5.0,12.0,10000.0,24000.0
51306,MALKANGIRI (ST),146,22.0,1.0,7.0,2.0,12.0,99.0,117.0,198000.0,234000.0
51308,MALKANGIRI (ST),146,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
ac_wise_pm_kisan = ac_df.groupby(['AC_NAME','AC_NO']).sum(['PM_Kisan_merged_amount_due'])

In [54]:
ac_wise_pm_kisan

,,PM_Kisan_merged_reg_count,PM_Kisan_merged_full_pay_count,PM_Kisan_merged_part_pay_count,PM_Kisan_merged_no_pay_count,PM_Kisan_merged_extra_pay_count,PM_Kisan_merged_no_install_paid,PM_Kisan_merged_no_install_due,PM_Kisan_merged_amount_paid,PM_Kisan_merged_amount_due
AC_NAME,AC_NO,,,,,,,,,
ANANDAPUR (SC),22,32327.0,5077.0,9618.0,2540.0,15092.0,153335.0,188111.0,306670000.0,376222000.0
ANUGUL,61,25786.0,4001.0,6962.0,1633.0,13190.0,125231.0,148566.0,250462000.0,297132000.0
ASKA,128,16459.0,2247.0,5134.0,1129.0,7949.0,74307.0,90749.0,148614000.0,181498000.0
ATHAGARH,89,22897.0,4641.0,7863.0,1276.0,9117.0,110199.0,138794.0,220398000.0,277588000.0
ATHAMALLIK,63,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...
TELKOI(ST),20,47929.0,10980.0,12743.0,2393.0,21813.0,250081.0,286632.0,500162000.0,573264000.0
TIRTOL (SC),102,30768.0,5071.0,10786.0,2001.0,12910.0,139755.0,182141.0,279510000.0,364282000.0
TITLAGARH,69,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),31,30735.0,5243.0,8785.0,1675.0,15032.0,156654.0,182061.0,313308000.0,364122000.0
UMERKOTE (ST),73,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [55]:
Column_name_edited = ac_wise_pm_kisan.rename(columns = {'PM_Kisan_merged_reg_count': 'reg_count', 'PM_Kisan_merged_full_pay_count': 'full_pay_count','PM_Kisan_merged_part_pay_count':'part_pay_count' ,'PM_Kisan_merged_no_pay_count':'no_pay_count','PM_Kisan_merged_extra_pay_count':'extra_pay_count','PM_Kisan_merged_no_install_paid':'no_install_paid','PM_Kisan_merged_no_install_due':'no_install_due','PM_Kisan_merged_amount_paid':'amount_paid','PM_Kisan_merged_amount_due':'amount_due'}, inplace = False)

In [56]:
Column_name_edited

,,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
AC_NAME,AC_NO,,,,,,,,,
ANANDAPUR (SC),22,32327.0,5077.0,9618.0,2540.0,15092.0,153335.0,188111.0,306670000.0,376222000.0
ANUGUL,61,25786.0,4001.0,6962.0,1633.0,13190.0,125231.0,148566.0,250462000.0,297132000.0
ASKA,128,16459.0,2247.0,5134.0,1129.0,7949.0,74307.0,90749.0,148614000.0,181498000.0
ATHAGARH,89,22897.0,4641.0,7863.0,1276.0,9117.0,110199.0,138794.0,220398000.0,277588000.0
ATHAMALLIK,63,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...
TELKOI(ST),20,47929.0,10980.0,12743.0,2393.0,21813.0,250081.0,286632.0,500162000.0,573264000.0
TIRTOL (SC),102,30768.0,5071.0,10786.0,2001.0,12910.0,139755.0,182141.0,279510000.0,364282000.0
TITLAGARH,69,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),31,30735.0,5243.0,8785.0,1675.0,15032.0,156654.0,182061.0,313308000.0,364122000.0
UMERKOTE (ST),73,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [57]:
Column_name_edited

,,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
AC_NAME,AC_NO,,,,,,,,,
ANANDAPUR (SC),22,32327.0,5077.0,9618.0,2540.0,15092.0,153335.0,188111.0,306670000.0,376222000.0
ANUGUL,61,25786.0,4001.0,6962.0,1633.0,13190.0,125231.0,148566.0,250462000.0,297132000.0
ASKA,128,16459.0,2247.0,5134.0,1129.0,7949.0,74307.0,90749.0,148614000.0,181498000.0
ATHAGARH,89,22897.0,4641.0,7863.0,1276.0,9117.0,110199.0,138794.0,220398000.0,277588000.0
ATHAMALLIK,63,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0
...,...,...,...,...,...,...,...,...,...,...
TELKOI(ST),20,47929.0,10980.0,12743.0,2393.0,21813.0,250081.0,286632.0,500162000.0,573264000.0
TIRTOL (SC),102,30768.0,5071.0,10786.0,2001.0,12910.0,139755.0,182141.0,279510000.0,364282000.0
TITLAGARH,69,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0
UDALA (ST),31,30735.0,5243.0,8785.0,1675.0,15032.0,156654.0,182061.0,313308000.0,364122000.0
UMERKOTE (ST),73,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0

In [58]:
Column_name_edited.to_csv("../results/ac_wise_pm_kisan_odisha.csv")

In [59]:
ac_pc_geofile_shapefile = pd.read_csv("../data/updated/ac_pc_geofile_shapefile.csv")

In [60]:
ac_pc_geofile_shapefile

,AC_NO,ac_name_geofile,AC_NAME,PC_NO,PC_NAME,pc_name_geofile
0,7,JHARSUGUDA,JHARSUGUDA,1,BARGARH,Bargarh
1,6,BRAJARAJNAGAR,BRAJARAJNAGAR,1,BARGARH,Bargarh
2,5,BHATLI,BHATLI,1,BARGARH,Bargarh
3,4,ATTABIRA (SC),ATTABIRA (SC),1,BARGARH,Bargarh
4,3,BARGARH,BARGARH,1,BARGARH,Bargarh
...,...,...,...,...,...,...
142,140,RAYAGADA (ST),RAYAGADA (ST),21,KORAPUT (ST),Koraput (ST)
143,141,LAKSHMIPUR (ST),LAKSHMIPUR (ST),21,KORAPUT (ST),Koraput (ST)
144,143,JEYPORE,JEYPORE,21,KORAPUT (ST),Koraput (ST)
145,144,KORAPUT (SC),KORAPUT (SC),21,KORAPUT (ST),Koraput (ST)
146,145,POTTANGI (ST),POTTANGI (ST),21,KORAPUT (ST),Koraput (ST)

In [61]:
ac_pc_merged = Column_name_edited.merge(ac_pc_geofile_shapefile, left_on='AC_NO', right_on='AC_NO', suffixes=(False, False))

In [62]:
ac_pc_merged

,AC_NO,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due,ac_name_geofile,AC_NAME,PC_NO,PC_NAME,pc_name_geofile
0,22,32327.0,5077.0,9618.0,2540.0,15092.0,153335.0,188111.0,306670000.0,376222000.0,ANANDAPUR (SC),ANANDAPUR (SC),4,KEONJHAR (ST),Keonjhar (ST)
1,61,25786.0,4001.0,6962.0,1633.0,13190.0,125231.0,148566.0,250462000.0,297132000.0,ANGUL,ANGUL,9,DHENKANAL,Dhenkanal
2,128,16459.0,2247.0,5134.0,1129.0,7949.0,74307.0,90749.0,148614000.0,181498000.0,ASKA,ASKA,19,ASKA,Aska
3,89,22897.0,4641.0,7863.0,1276.0,9117.0,110199.0,138794.0,220398000.0,277588000.0,ATHAGARH,ATHAGARH,14,CUTTACK,Cuttack
4,63,40399.0,6411.0,11340.0,3399.0,19249.0,194853.0,242773.0,389706000.0,485546000.0,ATHAMALLIK,ATHAMALLIK,3,SAMBALPUR,Sambalpur
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,20,47929.0,10980.0,12743.0,2393.0,21813.0,250081.0,286632.0,500162000.0,573264000.0,TELKOI (ST),TELKOI (ST),4,KEONJHAR (ST),Keonjhar (ST)
140,102,30768.0,5071.0,10786.0,2001.0,12910.0,139755.0,182141.0,279510000.0,364282000.0,TIRTOL (SC),TIRTOL (SC),16,JAGATSINGHPUR (SC),Jagatsinghpur (SC)
141,69,45273.0,7751.0,11703.0,4467.0,21352.0,220460.0,263424.0,440920000.0,526848000.0,TITLAGARH,TITLAGARH,10,BOLANGIR,Bolangir
142,31,30735.0,5243.0,8785.0,1675.0,15032.0,156654.0,182061.0,313308000.0,364122000.0,UDALA (ST),UDALA (ST),5,MAYURBHANJ (ST),Mayurbhanj (ST)
143,73,30047.0,2695.0,8344.0,3555.0,15453.0,131260.0,159913.0,262520000.0,319826000.0,UMERKOTE (ST),UMERKOTE (ST),12,NABARANGPUR (ST),Nabarangpur (ST)

In [63]:
pc_wise_pm_kisan = ac_pc_merged.groupby(['PC_NAME','PC_NO']).sum(['amount_due'])

In [64]:
pc_wise_pm_kisan

,,AC_NO,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
PC_NAME,PC_NO,,,,,,,,,,
ASKA,19,893,146950.0,23885.0,46268.0,11872.0,64925.0,696614.0,873748.0,1.393228e+09,1.747496e+09
BALASORE,6,257,201989.0,32236.0,55390.0,16802.0,97561.0,976389.0,1189383.0,1.952778e+09,2.378766e+09
BARGARH,1,28,193942.0,27402.0,43250.0,24090.0,99200.0,937516.0,1155600.0,1.875032e+09,2.311200e+09
BERHAMPUR,20,934,126553.0,19238.0,39793.0,9004.0,58518.0,612920.0,755841.0,1.225840e+09,1.511682e+09
BHADRAK (SC),7,308,235500.0,24293.0,59539.0,30170.0,121498.0,1044535.0,1305787.0,2.089070e+09,2.611574e+09
BHUBANESWAR,18,575,54630.0,6402.0,17906.0,5591.0,24731.0,241323.0,314849.0,4.826460e+08,6.296980e+08
BOLANGIR,10,469,282720.0,45160.0,71502.0,23548.0,142510.0,1404079.0,1657905.0,2.808158e+09,3.315810e+09
CUTTACK,14,658,121504.0,19109.0,43020.0,11698.0,47677.0,533183.0,720651.0,1.066366e+09,1.441302e+09
DHENKANAL,9,406,190249.0,24635.0,54991.0,16367.0,94256.0,887473.0,1105830.0,1.774946e+09,2.211660e+09
JAGATSINGHPUR (SC),16,713,216220.0,32792.0,72553.0,18747.0,92128.0,982536.0,1283540.0,1.965072e+09,2.567080e+09
JAJPUR (SC),8,357,157231.0,21427.0,54724.0,12472.0,68608.0,685183.0,898271.0,1.370366e+09,1.796542e+09
KALAHANDI,11,538,245604.0,35773.0,72669.0,22276.0,114886.0,1160238.0,1437515.0,2.320476e+09,2.875030e+09
KANDHAMAL,13,664,195387.0,28716.0,45544.0,11104.0,110023.0,1036271.0,1172300.0,2.072542e+09,2.344600e+09
KENDRAPARA,15,679,219655.0,33610.0,67972.0,20357.0,97716.0,1013666.0,1288420.0,2.027332e+09,2.576840e+09
KEONJHAR (ST),4,165,249745.0,45449.0,65643.0,16620.0,122033.0,1264382.0,1473998.0,2.528764e+09,2.947996e+09
KORAPUT (ST),21,990,158003.0,28416.0,52633.0,8224.0,68730.0,768654.0,939335.0,1.537308e+09,1.878670e+09
MAYURBHANJ (ST),5,208,235992.0,40876.0,57305.0,12111.0,125700.0,1245159.0,1384666.0,2.490318e+09,2.769332e+09
NABARANGPUR (ST),12,733,216446.0,26910.0,56651.0,21985.0,110900.0,1012317.0,1202800.0,2.024634e+09,2.405600e+09
PURI,17,904,187871.0,28891.0,64052.0,18253.0,76675.0,843703.0,1127864.0,1.687406e+09,2.255728e+09
SAMBALPUR,3,193,205091.0,36808.0,56937.0,12929.0,98417.0,1034557.0,1238235.0,2.069114e+09,2.476470e+09
SUNDARGARH (ST),2,65,169160.0,27770.0,28601.0,8996.0,103793.0,949086.0,999585.0,1.898172e+09,1.999170e+09

In [65]:
pc_wise_pm_kisan = pc_wise_pm_kisan [['reg_count', 'full_pay_count','part_pay_count','no_pay_count','extra_pay_count','no_install_paid','no_install_due','amount_paid','amount_due']]

In [66]:
pc_wise_pm_kisan

,,reg_count,full_pay_count,part_pay_count,no_pay_count,extra_pay_count,no_install_paid,no_install_due,amount_paid,amount_due
PC_NAME,PC_NO,,,,,,,,,
ASKA,19,146950.0,23885.0,46268.0,11872.0,64925.0,696614.0,873748.0,1.393228e+09,1.747496e+09
BALASORE,6,201989.0,32236.0,55390.0,16802.0,97561.0,976389.0,1189383.0,1.952778e+09,2.378766e+09
BARGARH,1,193942.0,27402.0,43250.0,24090.0,99200.0,937516.0,1155600.0,1.875032e+09,2.311200e+09
BERHAMPUR,20,126553.0,19238.0,39793.0,9004.0,58518.0,612920.0,755841.0,1.225840e+09,1.511682e+09
BHADRAK (SC),7,235500.0,24293.0,59539.0,30170.0,121498.0,1044535.0,1305787.0,2.089070e+09,2.611574e+09
BHUBANESWAR,18,54630.0,6402.0,17906.0,5591.0,24731.0,241323.0,314849.0,4.826460e+08,6.296980e+08
BOLANGIR,10,282720.0,45160.0,71502.0,23548.0,142510.0,1404079.0,1657905.0,2.808158e+09,3.315810e+09
CUTTACK,14,121504.0,19109.0,43020.0,11698.0,47677.0,533183.0,720651.0,1.066366e+09,1.441302e+09
DHENKANAL,9,190249.0,24635.0,54991.0,16367.0,94256.0,887473.0,1105830.0,1.774946e+09,2.211660e+09
JAGATSINGHPUR (SC),16,216220.0,32792.0,72553.0,18747.0,92128.0,982536.0,1283540.0,1.965072e+09,2.567080e+09
JAJPUR (SC),8,157231.0,21427.0,54724.0,12472.0,68608.0,685183.0,898271.0,1.370366e+09,1.796542e+09
KALAHANDI,11,245604.0,35773.0,72669.0,22276.0,114886.0,1160238.0,1437515.0,2.320476e+09,2.875030e+09
KANDHAMAL,13,195387.0,28716.0,45544.0,11104.0,110023.0,1036271.0,1172300.0,2.072542e+09,2.344600e+09
KENDRAPARA,15,219655.0,33610.0,67972.0,20357.0,97716.0,1013666.0,1288420.0,2.027332e+09,2.576840e+09
KEONJHAR (ST),4,249745.0,45449.0,65643.0,16620.0,122033.0,1264382.0,1473998.0,2.528764e+09,2.947996e+09
KORAPUT (ST),21,158003.0,28416.0,52633.0,8224.0,68730.0,768654.0,939335.0,1.537308e+09,1.878670e+09
MAYURBHANJ (ST),5,235992.0,40876.0,57305.0,12111.0,125700.0,1245159.0,1384666.0,2.490318e+09,2.769332e+09
NABARANGPUR (ST),12,216446.0,26910.0,56651.0,21985.0,110900.0,1012317.0,1202800.0,2.024634e+09,2.405600e+09
PURI,17,187871.0,28891.0,64052.0,18253.0,76675.0,843703.0,1127864.0,1.687406e+09,2.255728e+09
SAMBALPUR,3,205091.0,36808.0,56937.0,12929.0,98417.0,1034557.0,1238235.0,2.069114e+09,2.476470e+09
SUNDARGARH (ST),2,169160.0,27770.0,28601.0,8996.0,103793.0,949086.0,999585.0,1.898172e+09,1.999170e+09

In [67]:
pc_wise_pm_kisan.to_csv("../results/pc_wise_pm_kisan.csv")